.friends-display {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fafafa;
  margin-top: 20px;
}

.friends-display span {
  margin: 0px 8px;
}

.friends-display i {
  opacity: 0.3;
}

.friends-screen {
  padding: 0px 20px;
}

.friends-screen_channel {
  margin-top: 15px;
  border-top: var(--main--border);
  padding-top: 15px;
  margin-bottom: 2px;
}

.friends-screen-channel_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.5;
}
